* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #190e1c;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    padding-left: 10%;
}
header .logo {
    display: flex;
}
header .logo a {
    display: flex;
    align-items: center;
}
header .logo a img {
    max-height: 80%;
    width: auto;
}
header nav {
    display: flex;
    align-items: center;
}
header nav ul {
display: flex;
list-style: none;
gap: 16px;
}
header nav ul li a {
    text-decoration: none;
    color: white;
}


/* section-1 */

.section-1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5% 10%;
}

.section-1-a {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    gap: 30px;
    color: white;
}
strong {
    font-size: 48px;
}
.section-1-a button {
    font-size: 18px;
    border-radius: 10px;
    align-self: center;
    cursor: pointer;
    padding: 7px;
}
.section-1-a a {
    text-decoration: none;
    color: black;
}


 .section-1-b {
    display: flex;
    max-width: 40%;
 }

 .section-1-b img {
    max-width: 100%;
    min-width: 300px;
    border-radius: 70px 0px 0px 70px;
    min-height: auto;
    object-fit: cover;
 }
/* section-2 */

.section-2 {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 30px;
}

.section-2-a {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: bold;
}
.note {
    text-align: end;
    font-size: x-small;
}
.section-2-b {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}
.card {
}
.card-image img {
    height: 200px;
    width: 200px;
    border: dotted 5px #190e1c;
    border-radius: 20px;
}
.card-text {
    max-width: 200px;
    text-align: center;
}


/* section-3 */
.section-3 {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}

blockquote {
    font-size: 38px;
    text-align: center;
}
cite {
   align-self: end;
}

/* section-4 */
.section-4 {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}
.alert {
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.section-4-a {
    display: flex;
    padding: 10px;
}
.section-4-b {
    padding: 10px;
}
.section-4-b button {
    cursor: pointer;
}
.section-4-b button {
    width: 100px;
    height: 70px;
    font-size: 30px;
    border-radius: 17px;
    
}



/* footer */
footer {
    text-align: center;
    padding: 20px;
    color: white;
}

/* color */
header, .section-1, footer {
    background-color: #190e1c;
}
.section-3 {
    background-color: #3f5e70;
}
.alert {
    background-color: deeppink;
    color: chartreuse;
}