* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body {
    display: flex;
    flex-direction: column;
}
/* header */
header {
    display: flex;
    background-color: aqua;
}
header .logo {
    background-color: blueviolet;
}
header nav {
    background-color: brown;
}
header nav ul {
display: flex;
list-style: none;
}
header nav ul li a {
    text-decoration: none;
}

/* section-1 */
.section-1 {
    display: flex;
    background-color: chartreuse;
}
.section-1-a {
    background-color: chocolate;
}
.section-1-b {
    background-color: cornflowerblue;
}

/* section-2 */
.section-2 {
    display: flex;
    flex-direction: column;
    background-color: darkgoldenrod;
}
.section-2-a {
    background-color: crimson;
}
.section-2-b {
    display: flex;
    background-color: darkslateblue;
}
.card {
    background-color: darksalmon;
}

/* section-3 */
.section-3 {
    background-color: deeppink;
}

/* section-4 */
.section-4 {
    display: flex;
    background-color: forestgreen;
}
