* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Caveat';
    min-height: 100vh;
    align-items: center;
    font-size: 20px;
    /* padding-left: 30px; */
    /* padding-right: 30px; */
}

/* section-0 */
/* .section-0 {
    display: flex;
    flex-direction: column;
    /* background-color: greenyellow; */
    /* margin-left: 15vw; */
    /* margin-right: 15vw; */
    /* gap: 100px; */
    /* min-width: 600px; */
    /* max-width: 900px; */
    /* align-items: center; */

/* section-0-1 */
/* .section-0-1 { */
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 120px; */
    /* width: 100vw; */
    /* justify-content: center; */
    /* padding-left: 100px; */
    /* padding-right: 100px; */
    /* gap: 500px; */
}
/* header */
header {
    display: flex;
    background-color: aqua;
    max-height: 70px;
    justify-content: center;
    /* flex-shrink: 0; */
    gap: 137px;
}
header .logo {
    display: flex;
    background-color: blueviolet;
}
header .logo a {
    display: flex;
    align-items: center;
}
header .logo a img {
    max-height: 80%;
    width: auto;
}
header nav {
    background-color: brown;
    display: flex;
    align-items: center;
}
header nav ul {
display: flex;
list-style: none;
gap: 16px;
}
header nav ul li {
    background-color:aqua;
}
header nav ul li a {
    text-decoration: none;
}

/* section-1 */
.section-1 {
    display: flex;
    background-color: chartreuse;
    min-height: 40vh;
    justify-content:center;
    flex-wrap: wrap;
    /* align-items: center; */
    gap: 100px;
    /* max-height: 280px; */
}
.section-1-a {
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    /* max-width: 600px; */
    min-width: auto;
    gap: 30px;
    flex-basis: 400px;
}
.section-1-a strong {
    font-size: 48px ;
}
.section-1-a p {
    /* max-width: 400px; */
}
.section-1-a button {
    width: 80px;
    height: 35px;
    font-size: 18px;
    border-radius: 10px;
    align-self: center;
}

.section-1-b {
    background-color: cornflowerblue;
    display: flex;
    justify-content: end;
    /* max-width: 500px; */
    }
    

.section-1-b img {
    max-width: 400px;
    max-height: 300px;
    border-radius: 70px 0px 0px 70px;
    min-width: 230px;
    min-height: auto;
    object-fit: cover;
    /* box-shadow: 100px black; */
}

/* section-2 */
.section-2 {
    display: flex;
    flex-direction: column;
    background-color: darkgoldenrod;
    /* align-items:space-between; */
}
.section-2-a {
    background-color: crimson;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.note {
    text-align: end;
    font-size: x-small;
}
.section-2-b {
    display: flex;
    background-color: darkslateblue;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    background-color: darksalmon;
}
.card-image img {
    height: 200px;
    width: 200px;
    border: dotted 5px;
    border-radius: 20px;
}
.card-text {
    max-width: 200px;
    text-align: center;
}

/* section-3 */
.section-3 {
    background-color: deeppink;
    display: flex;
    flex-direction: column;
}
blockquote {
    font-size: 38px;
}
cite {
    background-color: aqua;
   align-self: end;
}

/* section-4 */
.section-4 {
    display: flex;
    background-color: forestgreen;
    gap: 30px;
    justify-content: center;
}
.section-4-a {
    background-color: blueviolet;
    display: flex;
}
.section-4-b {
    background-color: blue;
    /* align-items: center; */
}
.hot {
    /* text-align: center; */
}
.section-4-b button {
    width: 100px;
    height: 70px;
    font-size: 30px;
    border-radius: 17px;
    
}

/* footer */
footer {
    background-color: aqua;
    flex-shrink: 0;
}

/* Color */
header {
    /* background-color: #4a7ea3; */
}
.section-0-1 {
    background-color: #121930;
}