* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body {
    display: flex;
    flex-direction: column;
}
/* header */
header {
    display: flex;
    background-color: aqua;
}
header .logo {
    background-color: blueviolet;
}
header nav {
    background-color: brown;
}
header nav ul {
display: flex;
list-style: none;
}
header nav ul li a {
    text-decoration: none;
}
